@import url(http://fonts.googleapis.com/css?family=Lato)
@import url(http://fonts.googleapis.com/css?family=Cabin+Condensed)

@import "bootstrap-with-overrides"

@import "font-awesome"

@import "home"

@import "devise"


.navbar-brand
  font-family: 'Cabin Condensed', Helvetica, sans-serif
  font-size: 24px
  i
    margin-right: 8px
    color: complement($brand-primary) !important

.welcome
  p
    font-size: 18px

  ol.steps
    text-align: center
    padding: 0
    margin: 30px 0
    li
      display: inline-block
      padding: 10px 15px
      list-style-position: inside
      border-radius: 100px
      background: #eee
      color: #ccc
      cursor: default

      &.selected
        background: $brand-primary
        color: #fff

    li.spacer
      margin-top: 15px
      padding: 5px
      border-radius: 0