* 
  font-family: Lato, helvetica, arial, sans-serif

html, body
  height: 100%
  background: #f9f9f9

ul
  list-style-type: none

#wrap
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -60px

  body.home.public &
    background: transparent image_url("bg4.jpg") 0 0 no-repeat
    background-size: contain

    @media screen and (max-width: 768px)
      background-size: cover

  #push
    height: 60px

  .navbar
    background-color: #333
    .public.home & 
      background-color: rgba(0,0,0, 0)
    a
      color: #eee

    .nav-collapse
      float: right

  .jumbotron
    background: none
    border-radius: 0
    color: whitesmoke
    margin: 25px 0 175px
    text-shadow: darken(whitesmoke, 85%) 1px 1px 2px

    h1
      font-size: 48px

    .hint
      color: #fff
      margin-left: 10px
      font-size: 60%

.cta
  margin: 50px 0
  text-align: center

  h3
    display: inline-block

  a
    display: inline-block
    margin-top: -6px
    margin-left: 30px

.content
  background: #eaeaea
  padding: 80px 0 30px
  border-top: 2px solid lighten(complement($brand-primary), 15%)

.detail.panel
  float: left
  width: 30%
  min-height: 180px
  border: none

  @media screen and (max-width: 768px)
    width: 90%
    margin: 0 auto
    margin-left: auto !important
    margin-bottom: 60px

  .panel-heading
    background: none
    text-align: center
    padding: 0
    border: none
    box-shadow: none
    height: 0

    i
      position: relative
      display: inline-block
      padding: 13px
      font-size: 20px
      top: -25px
      border-radius: 100px
      background-color: complement($brand-primary)
      color: #fff

  h4
    margin-top: 35px
    text-align: center
    color: $text-muted

.panel + .panel
  margin-left: 3%

footer#footer
  padding-top: 20px
  height: 60px
  background-color: #f5f5f5


.btn-primary
  border-bottom: 2px solid darken($btn-primary-bg, 20%)