body
  &.home
    background: url(bg.jpg) #000 no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

  > .container
    margin-top: 80px


.jumbotron
  color: #eee
  background-color: rgba(25, 25, 25, 0.5)

.nav-collapse
  float: right

form
  width: 35%